@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	@apply capitalize transition duration-500 text-gray-100;
}

hr {
	@apply border-gray-700;
}

.loader {
	@apply border-t-blue-400;
	-webkit-animation: spinner 1.5s linear infinite;
	animation: spinner 1.5s linear infinite;
}

.debug {
	@apply border-2 border-rose-600;
}

.Loader-1 {
	display: flex;
	flex-direction: column;
	gap: 16px;
	width: 100%;
	align-items: center;
	justify-content: center;
}

.Loader-2 {
	width: 6rem;
	height: 6rem;
	border: 8px solid #d1d5db;
	color: #60a5fa;
	font-size: 2.25rem;
	animation: spinner 1s linear infinite;
	display: flex;
	align-items: center;
	justify-content: center;
	border-top-color: #60a5fa;
	border-radius: 50%;
}

#swal2-html-container:has(.Loader-1) {
	overflow-y: hidden !important;
	padding: 1.5rem;
}

@keyframes spinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
